@CHARSET "UTF-8";
html {
  width: 400px;
  height: auto;
}

body {
  font-family: Helvetica, Tahoma, sans-serif;
  font-size: 11px;
  padding: 0;
  margin: 0 auto;
  background: #fff;
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: #555;
}

*, ::after, ::before {
  box-sizing: border-box;
}

/* top bar
----------------------------------------------------------------------------- */

#bar {
  padding: .5rem .75rem;
  overflow: auto;
  background: #f6f6f6;
  border-bottom: 1px solid #e0e0e0;
}

#bar .reset-all {
  float: right !important;
  margin-left: 5px;
}

#bar .remove-all {
  float: right !important;
}

#bar .options {
  float: right !important;
  margin-left: 5px;
  font-size: 1.25rem;
}

#bar .create {
  float: left !important;
}

#bar .export-all {
  float: left !important;
  margin-left: 5px;
}

#bar .remove-all span {
  display: block;
  width: 20px;
  height: 24px;
  float: left;
  margin-right: .25rem;
  position: relative;
}

#bar .remove-all span:before,
#bar .remove-all span:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  content: ' ';
  height: 14px;
  width: 2px;
  background-color: #dc3545;
}

#bar .remove-all span:before {
  transform: rotate(45deg);
}

#bar .remove-all span:after {
  transform: rotate(-45deg);
}

#bar .create span {
  position: relative;
  width: 16px;
  height: 24px;
  display: block;
  color: black;
  font-size: 24px;
  font-weight: lighter;
  line-height: 24px;
  text-align: center;
  float: left;
  margin-right: .25rem;
}

#bar .create span::before {
  content: "+";
}

/* buttons
----------------------------------------------------------------------------- */

input[type=button],
input[type=submit],
#bar a.button {
  color: #444;
  text-decoration: none;
  display: block;
  padding: 0 .25rem;
  font-weight: bold;
  line-height: 24px;
  background-color: #fff;
  border-radius: 2px;
  float: left;
  border: 1px solid #ddd;
  position: relative;
  cursor: pointer;
}

#bar a.button:active {
  top: 1px;
}

input[type=button]:hover,
input[type=submit]:hover,
#bar .button:hover {
  color: #555;
}

p.buttons {
  padding: 1em !important;
  overflow: hidden;
}

.cancel {
  float: right !important;
}

#button-remove-all,
#button-remove-all,
#button-remove {
  color: #a90329;
}

/* forms and inputs
----------------------------------------------------------------------------- */

input[type=text],
select,
textarea {
  border: solid 1px #D6D6BE;
  background-color: #fcfff4;
  padding: .25rem;
  width: 100%;
  font-size: 14px;
  -webkit-border-radius: 2px;
  margin: 0 auto;
  display: block;
  resize: none;
}

input[type=text]:focus,
select:focus,
textarea:focus {
  border: solid 1px #fff286;
  background-color: #fff;
}

.form {
  overflow-y: auto;
  padding: .5rem;
}

.form > div {
  margin-bottom: .5rem;
}

#form-list label,
.form label {
  width: 100%;
  display: block;
  font-weight: bold;
  text-align: left;
  font-size: 14px;
  margin-bottom: 0.1rem;
}

#form-list label.title,
.form label.title {
  margin-bottom: 0.2rem;
}

#form-list label small,
.form label small {
  font-size: 10px !important;
}

/* options
----------------------------------------------------------------------------- */

#options {
  min-height: 20rem;
}

.copyright {
  position: fixed;
  bottom: 0;
  display: flex;
  gap: 0.25rem;
}

/* content
----------------------------------------------------------------------------- */

#content {
  overflow: hidden;
  text-align: center !important;
}

/* item
----------------------------------------------------------------------------- */

#form-list {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  overflow-y: auto;
  padding: .5rem;
}

#form-list .item {
  text-align: left;
  position: relative;
  background: #fff;
  display: block;
  overflow: hidden;
  padding: .25rem 0;
}

#form-list .item:hover .item-container  {
  background-color: #d6fffa;
}

#form-list .item:not(:last-child) {
  border-bottom: solid 1px #eee;
}

#form-list .item a.power {
  display: block;
  position: absolute;
  right: .25rem;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border-color: transparent transparent transparent #616162;
  transition: 100ms all ease;
  cursor: pointer;
}

#form-list .item a.play:not(.running) {
  border-style: solid;
  border-width: 8px 0 8px 12px;
}

#form-list .item a.running {
  border-style: double;
  border-width: 0 0 0 12px;
}

#form-list .item span.timer {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

#form-list .item-container {
  padding: .25rem;
  margin-bottom: .25rem;
}

#form-list .running .item-container {
  background-color: #eaffd6;
}

/* other elements
----------------------------------------------------------------------------- */

p.notask label {
  text-align: center !important;
  padding: 0;
  width: 100%;
}

a.update:hover {
  color: #006e2e;
}

a.remove:hover {
  color: #a90329;
}

p.remove-confirm {
  color: #a90329;
  font-weight: bold;
  line-height: 1.2em;
  margin: 0;
  padding: 1em 0 !important;
  font-style: italic;
  font-size: 13px;
}

p.remove-confirm strong {
  color: #333;
}

#form-create {
  margin: 0 5px;
}

/* footer
----------------------------------------------------------------------------- */

#footer {
  background: #f6f6f6;
  color: #bbb;
  margin: 0;
  padding: 5px;
}

#footer a {
  color: #bbb;
}

#footer a:hover {
  color: #333;
}

#footer span#total-time {
  float: right;
}

/* error
----------------------------------------------------------------------------- */
#form-error {
  background-color: #f8d7da;
  margin: .5rem .75rem;
  font-size: .75rem;
}
