@CHARSET "UTF-8";
html {
    width: 400px;
    height: auto;
}

body {
    font-family: Helvetica, Tahoma, sans-serif;
    font-size: 11px;
    padding: 0;
    margin: 0 auto;
    background: #fff;
    overflow: scroll;
}

a {
    text-decoration: none;
    color: #555;
}

*, ::after, ::before {
    box-sizing: border-box;
}

/* top bar
----------------------------------------------------------------------------- */

#bar {
    padding: 0.8em 1em;
    overflow: auto;
    background: #f6f6f6;
    border-bottom: 1px solid #e0e0e0;
}

#bar .reset-all {
    float: right !important;
    margin-left: 5px;
}

#bar .remove-all {
    float: right !important;
}

#bar .create {
    float: left !important;
}

#bar .export-all {
    float: left !important;
    margin-left: 5px;
}

#bar .remove-all span {
    background: transparent url(../img/delete.png) 50% 50% no-repeat;
    display: block;
    width: 20px;
    height: 28px;
    float: left;
    margin: 0 10px 0 0;
}

#bar .create span {
    background: transparent url(../img/new.png) 50% 50% no-repeat;
    display: block;
    width: 16px;
    height: 28px;
    float: left;
    margin: 0 10px 0 0;
}

/* buttons
----------------------------------------------------------------------------- */

input[type=button],
input[type=submit],
#bar a.button {
    color: #444;
    text-decoration: none;
    display: block;
    padding: 0 10px;
    font-weight: bold;
    line-height: 28px;
    background-color: #fff;
    border-radius: 2px;
    float: left;
    border: 1px solid #ddd;
    position: relative;
    cursor: pointer;
}

#bar a.button:active {
    top: 1px;
}

input[type=button]:hover,
input[type=submit]:hover,
#bar .button:hover {
    color: #555;
}

p.buttons {
    padding: 1em !important;
    overflow: hidden;
}

.cancel {
    float: right !important;
}

#button-remove-all,
#button-remove-all,
#button-remove {
    color: #a90329;
}

/* forms and inputs
----------------------------------------------------------------------------- */

input[type=text],
textarea {
    border: solid 1px #D6D6BE;
    background-color: #fcfff4;
    padding: .25rem;
    width: 100%;
    font-size: 14px;
    -webkit-border-radius: 2px;
    margin: 0 auto;
    display: block;
    resize: none;
}

input[type=text]:focus,
textarea:focus {
    border: solid 1px #fff286;
    background-color: #fff;
}

.form {
    overflow-y: auto;
    padding: .5rem;
}

.form > div {
    margin-bottom: .75rem;
}

.form label {
    width: 100%;
    display: block;
    font-weight: bold;
    text-align: left;
    font-size: 14px;
    margin-bottom: 0.1rem;
}

.form label.title {
    margin-bottom: 0.2rem;
}

.form label small {
    font-size: 10px !important;
}

/* content
----------------------------------------------------------------------------- */

#content {
    overflow: hidden;
    text-align: center !important;
}

/* item
----------------------------------------------------------------------------- */

#form-list .item {
    text-align: left;
    padding: .75rem .5rem;
    position: relative;
    background: #fff;
    display: block;
    overflow: hidden;
}

#form-list .item:not(:last-child) {
    border-bottom: solid 1px #eee;
}

#form-list .item:last-child {
    margin-bottom: 0;
}

#form-list .item a.power {
    width: 72px;
    display: block;
    position: absolute;
    top: 0;
    right: .25rem;
    bottom: 0;
    background: url(../img/play.png) right center no-repeat;
    background-origin: content-box;
}

#form-list .item a.running {
    background-image: url(../img/pause.png);
}

#form-list .item span.timer {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}

#form-list .running {
    background-color: #eaffd6;
}

/* other elements
----------------------------------------------------------------------------- */

p.notask label {
    text-align: center;
    padding: 0;
    width: 100%;
}

a.update:hover {
    color: #006e2e;
}

a.remove:hover {
    color: #a90329;
}

p.remove-confirm {
    color: #a90329;
    font-weight: bold;
    line-height: 1.2em;
    margin: 0;
    padding: 1em 0 !important;
    font-style: italic;
    font-size: 13px;
}

p.remove-confirm strong {
    color: #333;
}

#form-create {
    margin: 0 5px;
}

/* footer
----------------------------------------------------------------------------- */

#footer {
    background: #f6f6f6;
    color: #bbb;
    margin: 0;
    padding: 5px;
}

#footer a {
    color: #bbb;
}

#footer a:hover {
    color: #333;
}

#footer span#total-time {
    float: right;
}

/* error
----------------------------------------------------------------------------- */
#form-error {
    background-color: #f8d7da;
    margin: .5rem .75rem;
    font-size: .75rem;
}
