[*.{css,scss,less,js,json,ts,sass}]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 200

[*.{html,hbs,mustache,phtml,html.twig,md,yml}]
indent_size = 4
trim_trailing_whitespace = false

[package.json,.{babelrc,editorconfig,eslintrc,lintstagedrc,stylelintrc}]
indent_style = space
indent_size = 2
